.container-loadingscreen {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: none; /* Initially hidden */
}

.animated-image-loadingscreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black; /* Black rectangle for the animation */
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.moveRight {
    animation: moveRight 3s linear forwards; /* Total duration increased to 3s */
}

@keyframes moveRight {
    0% {
        left: -100%;
    }
    66% {
        left: 0;
    }
    100% {
        left: 0; /* Stay at the final position */
    }
}